@import "./px2rem.scss";


.header{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 16rem;
    height: px2rem(140);
    background: rgb(242,242,242);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2);
    .header-top{
        height: px2rem(84);
        display: flex;
        align-items: center;
        .header-left{
            width: px2rem(100);
            padding: 0 px2rem(20);
            img{
                width: 80%;
            }
        }
        .header-middle{
            width: px2rem(550);
            position: relative;
            
            input{
                width: 100%;
                height: px2rem(62);
                border: 1px solid #e5e5e5;
                outline: none;
                font-size: px2rem(35);
                color:#666;
                padding: 0 px2rem(50);
                border-radius: px2rem(2);
            }
            i{
                position: absolute;
                top: px2rem(11);
                left: px2rem(12);
                font-size: px2rem(30);
                line-height: px2rem(42);
            }
        }
        .header-right{
            
            width: px2rem(100);
            i{
                display: block;
                font-size: px2rem(35);
                line-height: px2rem(35);
                text-align: center;

            }
        }
    }
    
    .header-nav{
        height: px2rem(57);
        position: relative;
        .over{
            overflow: hidden;
        }
        .nav{
            width: 20rem;
            li{
                float: left;
                font-size: px2rem(30);
                margin: 0 px2rem(20);
                line-height: px2rem(55);
                color: rgb(116,116,116);

            }
            li.active{
                color: rgb(237, 91, 0);
                border-bottom: px2rem(2) solid rgb(237, 91, 0);
            }
        }
        .disnone{
            display: none;
        }
        a.more{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            background: rgb(242,242,242);
            text-decoration: none;
            i{
                transition:transform .8s;
                display: inline-block;
                width: px2rem(68);
                text-align: center;
                color:#3c3c3c;
                font-size: px2rem(30)
            }
        }
        .rotate{

            transform: rotate(180deg)
        }
        .boxMore{
            display: none;
            overflow: hidden;
            position: absolute;
            top: px2rem(0);
            .moreNav{
                padding: 0 px2rem(25);
                width: 16rem;
                height: px2rem(300);
                background:  rgb(242,242,242);
                .list{
                    margin-left: px2rem(-15);
                    margin-top: px2rem(-20);
                    div{
                        
                        float: left;
                        padding: px2rem(10);
                        width: px2rem(170);
                        a{
                            font-size: px2rem(23);
                            text-decoration: none;
                            display: block;
                            background: #fff;
                            padding: px2rem(16) 0;
                            text-align: center;
                            border:2px solid #eee;
                            border-radius: px2rem(10);
                            color: #222;
                        }
                    }
                    .active{
                        a{
                            background: #FDE0D5;
                            border-color: #FF4B00;
                            color: #ff4b00;
                        }
                    }
                }
                p{
                    font-size: px2rem(26);
                    line-height: px2rem(90);
                }
            }
        }
        .block{
            display: block;
        }
    }
}
.main{
    
    margin-top: px2rem(141);
    margin-bottom: px2rem(97);
    
    .swiper{
        .swiper-container{
            width: 16rem;
            img{
                width: 100%;
            }
        }
    }
    .cells{
        height: px2rem(138);
       ul{
        li{
            
            font-size: px2rem(20);
            width: 3.2rem; 
            float: left;
            i{
                display: block;
                text-align: center;
                font-size: px2rem(56);
                line-height: px2rem(56);
                margin-top: px2rem(24);
            }
            
            &:nth-child(1){
                i{
                    color: #FF9264;
                }
            }
            &:nth-child(2){
                i{
                    color: #69D8B5;
                }
            }
            &:nth-child(3){
                i{
                    color: #F8C360;
                    font-size: px2rem(45)
                }
            }
            &:nth-child(4){
                i{
                    color: #B895FD;
                }
            }
            &:nth-child(5){
                i{
                    color: #FFAB67;
                }
            }
            span{
                font-size: px2rem(17);
                display: block;
                margin-top: px2rem(13);
                margin-bottom: px2rem(28);
                text-align: center;
                color: rgb(190, 190, 190)
            }
         }
         
       }
    }
    img{
        width: calc(100%);
    }
    .cell-top{
        background:#F5F5F5;
        height: px2rem(545);
        position: relative;
        .cell-left{
            width: px2rem(374);
            position: absolute;
            top: px2rem(15);
            left: 0;
        }
        .cell-rt{
            width: px2rem(374);
            position: absolute;
            top: px2rem(15);
            right: 0;
           
        }
        .cell-rb{
            width: px2rem(374);
            position: absolute;
            top: px2rem(282);
            right: 0;
        }
        
    }
    .cell-banner{
        padding: px2rem(15) 0;
        background: #F5F5F5;
       
    }
    .cell-header{
        margin-bottom: px2rem(4);
        background: #F5F5F5;
    }
    .cell-body{
        width: px2rem(754);
        display: flex;
        align-items: flex-start;
        flex: 0 0 px2rem(373);
        flex-flow: wrap;
       
        .list{
            width: px2rem(373);
            margin-right: px2rem(4);
    
            .list-title{
                height: px2rem(156);
                background: #fff;
                text-align: left;
                padding-left: px2rem(28);
                
                h3{
                    font-size: px2rem(26);
                    font-weight: 400;
                    color: #000;
                }
                p{
                    font-size: px2rem(21);
                    color:rgb(116,116,116);
                }
                span{
                    color:red;
                    font-size: px2rem(18);
                    i{
                        font-size: px2rem(23);
                        font-style: normal;
    
                    }
                    
                }
                del{
                    font-size: px2rem(18);
                }
            }
        }
        
    }
    .cell-phone{
      
    }
    .cell-tv{
        .cell-more{
            font-size: px2rem(26);
            text-align: center;
            border-top:solid rgb(190, 190, 190) px2rem(2);
        }
    }
    .cell-about{
        font-size: px2rem(35);
        font-weight: 700;
        text-align: center;
    }

}
.footer{
    background: #fff;
    height: px2rem(97);
    width: 16rem;
    position: fixed;
    bottom: 0;
    z-index: 99;
    ul{
        li{
            width: 4rem;
            float: left;
            i{
                display: block;
                text-align: center;
                font-size: px2rem(38);
                line-height: px2rem(38);
                margin-top: px2rem(16 );
            }
            span{
                font-size: px2rem(18);
                display: block;
                margin-top: px2rem(8);
                margin-bottom: px2rem(28);
                text-align: center;
                
            }
           
        }
        li.active{
            color:#F66B01;
        }
    }
}
